#name{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2.5em;
    // text-transform: uppercase;
  }
#greeting{
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
  }
#wTitle{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2.5em;
    // text-transform: uppercase;
}
#horo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding-right: 4em;
    padding-left: 4em;
}
#mood{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2.5em;
    // text-transform: uppercase;
}
#express{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3em;
}
#ipart{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    // text-transform: uppercase;
    font-size: 2.5em;
}
#compat{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding-right: 4em;
    padding-left: 4em;
}
#number{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 2.5em;
    // text-transform: uppercase;
}
#numdes{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding-right: 4em;
    padding-left: 4em;
}
#numdays{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5em;
    padding-right: 4em;
    padding-left: 4em;
}