#loginBody {
  min-height: 100vh; // 100% of the screen's height is 100vh.
  background-color: rgb(255, 255, 255);

}
#login {
  color: #0c164f;
  font-size: 4em;
  text-align: center;
  // font-family: ;
}

p{
text-align: center;
font-size: 1.5em;
}

#button {
  display: flex;
  justify-content: center !important;
  align-items: center;
  // min-width: 50% !important;
  margin-top: 5em;
  padding: 0em 3em !important;
}