.App {
  padding-top: 10em;
  text-align: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  position: relative;
  color: white;
  min-height: 100vh;
  size: auto;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1608754482805-6f630357358b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3BhY2UlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
}
.App-header {
  position: inherit;
  margin-bottom: 2em;
}
#welcomeHome {
  font-size: 5em;
  font-family: "Dancing Script", cursive;
}
#total {
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}
#exitNow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  bottom: 0;
  position: fixed;
}
#amount_XRP {
  width: 43%;
  margin-left: auto;
  margin-right: auto;
}
#amount_Ethereum {
  width: 43%;
  margin-left: auto;
  margin-right: auto;
}
#amount_Bitcoin {
  width: 43%;
  margin-left: auto;
  margin-right: auto;
}

